.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.glass-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 25px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.form-group {
  margin-bottom: 15px;
}

.input-icon {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-icon i {
  margin-right: 8px;
  color: #333;
}

.form-control {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  outline: none;
}

.submit-btn, .cancel-btn {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.submit-btn {
  background-color: var(--button-bg-color);
  color: var(--text-light);
}

.submit-btn:hover {
  background-color: var(--button-hover-color);
}

.cancel-btn {
  background-color: #dc3545;
  color: #fff;
}

.cancel-btn:hover {
  background-color: #c82333;
}
