<div class="register-container">
  <div class="glass-box">

    <form [formGroup]="criarContaForm" (ngSubmit)="onSubmit()" class="register-form">

      <div class="form-group">
        <div class="input-icon">
          <i class="fas fa-user"></i>
          <input id="nome" formControlName="nome" type="text" class="form-control" placeholder="Nome">
        </div>
        <div *ngIf="criarContaForm.get('nome')?.invalid && criarContaForm.get('nome')?.touched" class="error-message">
          Campo obrigatório
        </div>
      </div>

      <div class="form-group">
        <div class="input-icon">
          <i class="fas fa-user-circle"></i>
          <input id="username" formControlName="username" type="text" class="form-control" placeholder="Username">
        </div>
        <div *ngIf="criarContaForm.get('username')?.invalid && criarContaForm.get('username')?.touched" class="error-message">
          Campo obrigatório
        </div>
      </div>

      <div class="form-group">
        <div class="input-icon">
          <i class="fas fa-envelope"></i>
          <input id="email" formControlName="email" type="text" class="form-control" placeholder="E-mail">
        </div>
        <div *ngIf="criarContaForm.get('email')?.invalid && criarContaForm.get('email')?.touched" class="error-message">
          {{ criarContaForm.get('email')?.errors?.['required'] ? 'Campo obrigatório' : 'Formato de e-mail inválido' }}
        </div>
      </div>

      <div class="form-group">
        <div class="input-icon">
          <i class="fas fa-lock"></i>
          <input id="senha" formControlName="senha" type="password" class="form-control" placeholder="Senha">
        </div>
        <div *ngIf="criarContaForm.get('senha')?.invalid && criarContaForm.get('senha')?.touched" class="error-message">
          {{ criarContaForm.get('senha')?.errors?.['required'] ? 'Campo obrigatório' : 'Senha deve ter no mínimo 6 caracteres' }}
        </div>
      </div>

      <div class="form-group">
        <div class="input-icon">
          <i class="fas fa-phone"></i>
          <input id="telefone" formControlName="telefone" type="text" class="form-control" mask="(00) 00000-0000" placeholder="Telefone">
        </div>
        <div *ngIf="criarContaForm.get('telefone')?.invalid && criarContaForm.get('telefone')?.touched" class="error-message">
          Campo obrigatório
        </div>
      </div>

      <div class="form-group">
        <div class="input-icon">
          <i class="fas fa-id-card"></i>
          <input id="cpf" formControlName="cpf" type="text" class="form-control" mask="000.000.000-00" placeholder="CPF">
        </div>
        <div *ngIf="criarContaForm.get('cpf')?.invalid && criarContaForm.get('cpf')?.touched" class="error-message">
          {{ criarContaForm.get('cpf')?.errors?.['required'] ? 'Campo obrigatório' : 'CPF inválido' }}
        </div>
      </div>
      <div class="form-group">
        <div class="input-icon">
          <i class="fas fa-venus-mars"></i>
          <select id="genero" formControlName="genero" class="form-control">
            <option value="">Selecione o Gênero</option>
            <option value="MASCULINO">Masculino</option>
            <option value="FEMININO">Feminino</option>
            <option value="OUTRO">Outro</option>
          </select>
        </div>
        <div *ngIf="criarContaForm.get('genero')?.invalid && criarContaForm.get('genero')?.touched" class="error-message">
          Campo obrigatório
        </div>
      </div>
      <div class="form-group">
        <div class="input-icon">
          <i class="fas fa-calendar-alt"></i>
          <input id="dataNascimento" matInput [matDatepicker]="picker" formControlName="dataNascimento" type="text" class="form-control" placeholder="dd/mm/aaaa">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div *ngIf="criarContaForm.get('dataNascimento')?.invalid && criarContaForm.get('dataNascimento')?.touched" class="error-message">
          Campo obrigatório
        </div>
      </div>

      <div class="form-group">
        <div class="input-icon">
          <i class="fas fa-question-circle"></i>
          <input id="pergunta" formControlName="perguntaSecreta" type="text" class="form-control" placeholder="Pergunta de segurança">
        </div>
        <div *ngIf="criarContaForm.get('perguntaSecreta')?.invalid && criarContaForm.get('perguntaSecreta')?.touched" class="error-message">
          Campo obrigatório
        </div>
      </div>

      <div class="form-group">
        <div class="input-icon">
          <i class="fas fa-key"></i>
          <input id="resposta" formControlName="respostaSecreta" type="text" class="form-control" placeholder="Resposta de segurança">
        </div>
        <div *ngIf="criarContaForm.get('respostaSecreta')?.invalid && criarContaForm.get('respostaSecreta')?.touched" class="error-message">
          Campo obrigatório
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="submit-btn">Cadastrar</button>
        <button type="button" class="cancel-btn" (click)="onCancel()">Cancelar</button>
      </div>
    </form>

  </div>
</div>
