<div class="cad-receita-container">
  <div class="header">
    <div class="value-section">
      <p>Valor:</p>
      <h2>R$ 0,00</h2>
    </div>
  </div>

  <form>
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo">

    <label>Data:</label>
    <div class="date-buttons">
        <button type="button" [ngClass]="{'selected': selectedDate === 'hoje'}" (click)="selectDate('hoje')">HOJE</button>
        <button type="button" [ngClass]="{'selected': selectedDate === 'ontem'}" (click)="selectDate('ontem')">ONTEM</button>
        <button type="button" [ngClass]="{'selected': selectedDate === 'selecionar'}" (click)="selectDate('selecionar')">SELECIONAR DATA</button>
    </div>

    <label for="categoria">Categoria:</label>
    <select id="categoria" name="categoria">
      <option value="1">Categoria</option>
    </select>

    <label for="sub-categoria">Sub-Categoria:</label>
    <select id="sub-categoria" name="sub-categoria">
      <option value="1">Sub-Categoria</option>
    </select>

    <label for="conta-cartao">Conta ou Cartão:</label>
    <select id="conta-cartao" name="conta-cartao">
      <option value="1">Conta ou Cartão</option>
    </select>

    <label>Lançamento:</label>
    <div class="launch-type-buttons">
      <button type="button" [ngClass]="{'selected': selectedLaunch === 'unico'}" (click)="selectLaunch('unico')">ÚNICO</button>
      <button type="button" [ngClass]="{'selected': selectedLaunch === 'recorrente'}" (click)="selectLaunch('recorrente')">RECORRENTE</button>
      <button type="button" [ngClass]="{'selected': selectedLaunch === 'parcelado'}" (click)="selectLaunch('parcelado')">PARCELADO</button>
    </div>

    <div class="buttons">
      <button type="submit" class="btn btn-success">SALVAR</button>
      <button type="button" class="btn btn-danger" (click)="goCancel()">CANCELAR</button>
    </div>
  </form>
</div>