<div class="container_categories">
  <div class="category-panel">
    <div class="panel-header">
      <h3>Receitas</h3>
      <button (click)="registrarCategoria('RECEITA')" class="new-category-button">+ Nova Receita</button>
    </div>

    <div class="category" *ngFor="let categoria of categoriasReceita" (click)="toggleCategory(categoria.id)">
      <div class="category-header">
        <span>{{ categoria.nome }}</span>
        <div class="controls" (click)="$event.stopPropagation()">
          <app-actions-buttons
            (edit)="editarCategoria(categoria)"
            (delete)="excluirCategoria(categoria)">
          </app-actions-buttons>
          <span class="arrow" [ngClass]="{ 'expanded': isCategoryExpanded(categoria.id) }">&#9662;</span>
        </div>
      </div>
      <div class="subcategories" *ngIf="isCategoryExpanded(categoria.id)">
        <div class="subcategory-header">
          <span>Subcategorias</span>
          <div>
          <button (click)="registrarSubcategoria(categoria)" (click)="$event.stopPropagation()" class="new-category-button">+ Nova Subcategoria</button>
          <button (click)="registrarSubcategoria(categoria)" class="new-category-button">Meta</button>
        </div>
        </div>
        <div class="subcategory" *ngFor="let subcategoria of subcategoriasMap[categoria.id]">
          <span>{{ subcategoria.nome }}</span>
          <div class="controls" (click)="$event.stopPropagation()">
            <app-actions-buttons
              (edit)="editarSubcategoria(subcategoria)"
              (delete)="excluirSubcategoria(subcategoria)">
            </app-actions-buttons>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="category-panel">
    <div class="panel-header">
      <h3>Despesas</h3>
      <button (click)="registrarCategoria('DESPESA')" class="new-category-button">+ Nova Despesa</button>
    </div>

    <div class="category" *ngFor="let categoria of categoriasDespesa" (click)="toggleCategory(categoria.id)">
      <div class="category-header">

        <span>{{ categoria.nome }}</span>
        <span class="metasTitle">Meta: {{ metasMap[categoria.id] || 'não definido' }}</span>


        <div class="controls" (click)="$event.stopPropagation()">
          <app-actions-buttons
            (edit)="editarCategoria(categoria)"
            (delete)="excluirCategoria(categoria)">
          </app-actions-buttons>
          <span class="arrow" [ngClass]="{ 'expanded': isCategoryExpanded(categoria.id) }">&#9662;</span>
        </div>
      </div>
      <div class="subcategories" *ngIf="isCategoryExpanded(categoria.id)">
        <div class="subcategory-header">
          <span>Subcategorias</span>
          <div>
            <button (click)="registrarSubcategoria(categoria)" (click)="$event.stopPropagation()"
                    class="new-category-button">+ Nova Subcategoria
            </button>

            <button (click)="registrarMeta(categoria)" (click)="$event.stopPropagation()" class="new-category-button">
              Meta
            </button>
          </div>

        </div>
        <div class="subcategory" *ngFor="let subcategoria of subcategoriasMap[categoria.id]">
          <span>{{ subcategoria.nome }}</span>
          <div class="controls" (click)="$event.stopPropagation()">
            <app-actions-buttons
              (edit)="editarSubcategoria(subcategoria)"
              (delete)="excluirSubcategoria(subcategoria)">
            </app-actions-buttons>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
