.container-fluid {
  flex-direction: column;
  height: 100vh;
  display: flex;
  align-items: center;
  opacity: 90%;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  width: 90%;
  border-radius: 20px;
  margin-top: 20px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

button.back-button,
button.add-button {
  border: none;
  padding: 15px;
  background-color: #4ebfd9;
  color: white;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

button.back-button:hover,
button.add-button:hover {
  background-color: #78d5e3;
}

.table-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  overflow: hidden;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

th {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

td {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.despesa {
  color: #ff6b6b;
}

.receita {
  color: #51cf66;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 20px;
}

.filter-section input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 200px;
}
