<main id="main-movimentacao-container">
<div class="container-fluid">
  <header class="header">
    <div class="logo">
      Histórico de Movimentações
    </div>
    <div>
      <button class="add-button" (click)="goToNovaMovimentacao()">Nova Movimentação</button>
      <button class="back-button" (click)="goToDashboard()">Retornar</button>
    </div>
  </header>

  <div class="table-section">
    <table>
      <thead>
      <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Sub-Categoria</th>
        <th>Descrição</th>
        <th>Valor</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transacao of transacoes">
        <td>{{ transacao.data | date:'dd/MM/yyyy' }}</td>
        <td [ngClass]="{'despesa': transacao.nomeTransacao === 'DESPESA', 'receita': transacao.nomeTransacao === 'RECEITA'}">{{ transacao.nomeTransacao }}</td>
        <td>{{ transacao.nomeCategoria }}</td>
        <td>{{ transacao.nomeSubcategoria }}</td>
        <td>{{ transacao.descricao }}</td>
        <td>{{ transacao.valor | currency:'BRL' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</main>
