<div class="container">
  <div class="cadastro-box">
    <h1>CRIAR CONTA</h1>
    <form [formGroup]="criarContaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">

        <label for="nome">Nome:</label>
        <input id="nome" class="form-control" formControlName="nome" type="text" />
        <div *ngIf="criarContaForm.get('nome')?.invalid && criarContaForm.get('nome')?.touched">
          <small class="text-danger">Campo obrigatório</small>
        </div>

        <label for="username">Username:</label>
        <input id="username" class="form-control" formControlName="username" type="text" />
        <div *ngIf="criarContaForm.get('username')?.invalid && criarContaForm.get('username')?.touched">
          <small class="text-danger">Campo obrigatório</small>
        </div>

        <label for="email">E-mail:</label>
        <input id="email" class="form-control" formControlName="email" type="text" />
        <div *ngIf="criarContaForm.get('email')?.invalid && criarContaForm.get('email')?.touched">
          <small class="text-danger">Campo obrigatório</small>
        </div>

        <label for="senha">Senha:</label>
        <input id="senha" class="form-control" formControlName="senha" type="password" />
        <div *ngIf="criarContaForm.get('senha')?.invalid && criarContaForm.get('senha')?.touched">
          <small class="text-danger">Campo obrigatório</small>
        </div>

        <label for="telefone">Telefone:</label>
        <input id="telefone" class="form-control" formControlName="telefone" mask="(00) 00000-0000" type="text" />
        <div *ngIf="criarContaForm.get('telefone')?.invalid && criarContaForm.get('telefone')?.touched">
          <small class="text-danger">Campo obrigatório</small>
        </div>

        <label for="cpf">CPF:</label>
        <input id="cpf" class="form-control" formControlName="cpf" mask="000.000.000-00" type="text" />
        <div *ngIf="criarContaForm.get('cpf')?.invalid && criarContaForm.get('cpf')?.touched">
          <small class="text-danger">Campo obrigatório</small>
        </div>

        <label for="genero">Gênero:</label>
        <input id="genero" class="form-control" formControlName="genero" type="text" />
        <div *ngIf="criarContaForm.get('genero')?.invalid && criarContaForm.get('genero')?.touched">
          <small class="text-danger">Campo obrigatório</small>
        </div>

        <label for="dataNascimento">Data de Nascimento:</label>
        <input id="dataNascimento" class="form-control" formControlName="dataNascimento" type="date" />
        <div *ngIf="criarContaForm.get('dataNascimento')?.invalid && criarContaForm.get('dataNascimento')?.touched">
          <small class="text-danger">Campo obrigatório</small>
        </div>

        <label for="pergunta">Pergunta de segurança:</label>
        <input id="pergunta" class="form-control" formControlName="perguntaSecreta" type="text"/>
        <div *ngIf="criarContaForm.get('perguntaSecreta')?.invalid && criarContaForm.get('perguntaSecreta')?.touched">
          <small class="text-danger">Campo obrigatório</small>
        </div>

        <label for="resposta">Resposta de segurança:</label>
        <input id="resposta" class="form-control" formControlName="respostaSecreta" type="text"/>
        <div *ngIf="criarContaForm.get('respostaSecreta')?.invalid && criarContaForm.get('respostaSecreta')?.touched">
          <small class="text-danger">Campo obrigatório</small>
        </div>

        <div *ngIf="backendErrors.length > 0" class="alert alert-danger">
          <ul>
            <li *ngFor="let error of backendErrors">{{ error }}</li>
          </ul>
        </div>

      <div class="buttons">
        <button type="submit" class="btn btn-success" [disabled]="criarContaForm.invalid">Salvar</button>
        <button type="button" class="btn btn-danger" (click)="goToLogin()">Cancelar</button>
      </div>
      </div>
    </form>
  </div>
</div>
