<div class="container">
  <div class="cadastro-box">
    <h1>CRIAR CONTA</h1>
    <form [formGroup]="criarContaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        
        <label for="nome">Nome:</label>
        <input id="nome" class="form-control" formControlName="nome" type="text" />
        
        <label for="username">Apelido:</label>
        <input id="username" class="form-control" formControlName="username" type="text" />
        
        <label for="email">E-mail:</label>
        <input id="email" class="form-control" formControlName="email" type="text" />
        
        <label for="password">Senha:</label>
        <input id="password" class="form-control" formControlName="password" type="password" />
        
        <label for="telefone">Telefone:</label>
        <input id="telefone" class="form-control" formControlName="telefone" type="text" />
        
        <label for="cpf">CPF:</label>
        <input id="cpf" class="form-control" formControlName="cpf" type="text" />
        
        <label for="genero">Gênero:</label>
        <input id="genero" class="form-control" formControlName="genero" type="text" />
        
        <label for="dataNascimento">Data de Nascimento:</label>
        <input id="dataNascimento" class="form-control" formControlName="dataNascimento" type="date" />

        <label for="pergunta1">Pergunta de Recuperação de senha 1:</label>
        <input id="pergunta1" class="form-control" formControlName="pergunta1" type="text"/>

        <label for="pergunta2">Pergunta de Recuperação de senha 2:</label>
        <input id="pergunta2" class="form-control" formControlName="pergunta2" type="text"/>
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-success">SALVAR</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">CANCELAR</button>
      </div>
    </form>
  </div>
</div>