<div class="transaction-form">
  <h2>Realizar Transação</h2>

  <form (ngSubmit)="salvarTransacao()">
    <div class="form-group">
      <label>Tipo de Transação:</label>
      <select [(ngModel)]="transacao.tipoTransacaoId" name="tipoTransacao" (change)="onTipoTransacaoChange($event)" required>
        <option for="tipoTransacao" *ngFor="let tipo of tiposTransacao" [value]="tipo.id">{{ tipo.tipoTransacaoEnum }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="valor">Valor:</label>
      <input type="text" currencyMask [(ngModel)]="transacao.valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"  name="valor" id="valor" required>
    </div>

    <div class="form-group">
      <label>Categoria:</label>
      <select [(ngModel)]="transacao.categoriaId" name="categoria" (change)="onCategoriaChange($event)" required>
        <option for="categoria" *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nome }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Subcategoria:</label>
      <select [(ngModel)]="transacao.subcategoriaId" name="subcategoria" required>
        <option for="subcategoria" *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">{{ subcategoria.nome }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Método de Pagamento:</label>
      <select [(ngModel)]="transacao.metodoPagamentoId" name="metodoPagamento" required>
        <option for="metodoPagamento" *ngFor="let metodo of metodosPagamento" [value]="metodo.id">{{ metodo.metodoPagamento }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <input type="text" [(ngModel)]="transacao.descricao" name="descricao" id="descricao">
    </div>

    <button type="submit" class="submit-btn">Salvar Transação</button>
  </form>
</div>
