<div *ngIf="showSidebar" class="sidebar">
  <div class="sidebar-items">
    <div class="sidebar-item" [ngClass]="{'active': currentPage === 'wallet'}" (click)="navigateTo('wallet')">
      <span class="icon">🏠</span>
      <span class="tooltip">Tela Inicial</span>
    </div>
    <div class="sidebar-item" [ngClass]="{'active': currentPage === 'realizar-transacao'}" (click)="navigateTo('realizar-transacao')">
      <span class="icon">💸</span>
      <span class="tooltip">Realizar Transação</span>
    </div>
    <div class="sidebar-item" [ngClass]="{'active': currentPage === 'tela-inicial'}" (click)="navigateTo('tela-inicial')">
      <span class="icon">📊</span>
      <span class="tooltip">Movimentações</span>
    </div>
    <div class="sidebar-item" [ngClass]="{'active': currentPage === 'categorias'}" (click)="navigateTo('categorias')">
      <span class="icon">📁</span>
      <span class="tooltip">Categorias</span>
    </div>
    <div class="sidebar-item" [ngClass]="{'active': currentPage === 'cadastrar-conta-bancaria'}" (click)="navigateTo('cadastrar-conta-bancaria')">
      <span class="icon">🏦</span>
      <span class="tooltip">Conta Bancária</span>
    </div>
  </div>
  <div class="sidebar-item logout-item" (click)="logout()">
    <span class="icon">🚪</span>
    <span class="tooltip">Sair</span>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
