* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}

.app-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 70px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  z-index: 10;
}

.sidebar-items {
  flex-grow: 1;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  color: #ccc;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
  position: relative;
}

.sidebar-item.active .icon,
.sidebar-item:hover .icon {
  background-color: #6a11cb;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.logout-item {
  margin-bottom: 20px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.icon {
  font-size: 24px;
}

.tooltip {
  position: absolute;
  left: 80px;
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar-item:hover .tooltip {
  opacity: 1;
}

.main-content {
  margin-left: 70px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.no-sidebar .main-content {
  margin-left: 0;
}

form {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* .container {
  margin-left: 50px;
  margin-right: 50px;
} */
