<main id="main-dashboard-container">
  <div class="containter-dashboard">
    <section id="informations-container">
      <div class="informations">
        <div class="info-card receita">
          <div class="icon">💰</div>
          <div class="info-text">
            <h3>R$ {{ receita.totalReceitas }}</h3>
            <span>Receita do Mês</span>
          </div>
        </div>
        <div class="info-card despesa">
          <div class="icon">💰</div>
          <div class="info-text">
            <h3>R$ {{ receita.totalDespesas }}</h3>
            <span>Despesas do Mês</span>
          </div>
        </div>
        <div class="info-card saldo-mes">
          <div class="icon">💰</div>
          <div class="info-text">
            <h3>R$ {{ receita.saldo }}</h3>
            <span>Saldo do Mês</span>
          </div>
        </div>
      </div>
      <div class="graphics">
        <span>Desempenho do mês</span>
        <div class="category-charts">
          <div *ngFor="let chartData of chartsData" class="category-chart">
            <div class="chart-title">{{chartData.name}}</div>
            <p-chart type="doughnut" [data]="chartData.data" [options]="chartData.options"></p-chart>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section id="bank-accounts-container">
    <div class="bank-accounts">
      <div *ngFor="let banco of bancos" class="account">
        <span>{{banco.nome}} - R$ {{banco.saldo}}</span>
      </div>
    </div>
    <section id="last-transactions-receita-container">
      <div class="last-transactions-receita">
        <span>Maiores receitas</span>
        <div *ngFor="let receita of maioresReceitas" class="receitas">
          <span>{{ receita.data }} - {{ receita.nomeCategoria }} - {{ receita.nomeSubcategoria }} - R$ {{ receita.valor }}</span>
        </div>
      </div>
    </section>
    <section id="last-transactions-despesa-container">
      <div class="last-transactions-despesa">
        <span>Maiores despesas</span>
        <div *ngFor="let despesa of maioresDespesas" class="despesas">
          <span>{{ despesa.data }} - {{ despesa.nomeCategoria }} - {{ despesa.nomeSubcategoria }} - R$ {{ despesa.valor }}</span>
        </div>
      </div>
    </section>
  </section>
</main>

