<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="header">
        <h1 (click)="goLogin()">Expert Wallet</h1>
        <div class="buttons">
            <button class="button-criar" (click)="goToCadTransacao()">Criar Movimentação</button>
            <button class="button-visualizar" (click)="goToMovimentacao()">Visualizar Movimentações</button>
             <button class="button-logout" (click)="logout()">Logout</button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="main">
            <div class="card-row">
                <div class="card saldo">
                    <h2>Saldo</h2>
                    <p>R$</p>
                </div>
                <div class="card receitas">
                    <h2>Receitas</h2>
                    <p>R$</p>
                </div>
                <div class="card despesas">
                    <h2>Despesas</h2>
                    <p>R$</p>
                </div>
            </div>
        </div>

        <div class="grafico-section">
            <h3>Gráfico de Receitas</h3>
            <canvas id="graficoReceitasCanvas"></canvas>
        </div>

        <div class="grafico-section">
            <h3>Gráfico de Despesas</h3>
            <canvas id="graficoDespesasCanvas"></canvas>
        </div>
    </div>

</body>

</html>
