html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #bdbdbd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 20px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header h1 {
  margin: 0;
  font-size: 1.5em;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button-criar, .button-visualizar, .button-logout {
  padding: 8px 15px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-fluid {
  min-height: calc(100vh - 85px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding-top: 100px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 30px;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
}

.top-row {
  grid-column: span 2;
  display: flex;
  gap: 20px;
}

.middle-row {
  display: flex;
  gap: 20px;
}

.bottom-row {
  grid-column: span 2;
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  min-width: 200px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
}

.card.saldo {
  background-color: #0abd5b;
  color: #fff;
}

.card.receitas {
  background-color: #198754;
  color: #fff;
}

.card.despesas {
  background-color: #f76c6c;
  color: #fff;
}

.grafico-container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
}

.grafico-title {
  background-color: #335AA6;
  border-radius: 10px;
  color: black;
}

.contas-container {
  width: 100%;
  padding: 20px;
}

.conta-item {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}
