<div class="overlay-container">
    <div class="header">
        <h2>Nova Meta</h2>
        <button mat-icon-button (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <form [formGroup]="metasForm" class="form-container">
        <mat-form-field appearance="fill">
            <input matInput formControlName="valor" placeholder="Informe o Valor da Meta" type="number" />
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="metasForm.invalid">
            Salvar
        </button>
    </form>
</div>
